{% extends '_layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load crispy_forms_tags %}

{% block navheader %}
    {% include 'includes/navheader_employee_app.html' %}
{% endblock %}

{% block stylesheet %}
<style>
    .form-wrapper {
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        padding: 2%;
        background: #fff !important;
        padding-bottom: 5%;
    }
</style>
{% endblock %}

{% block content %}
<section class="content">
    <section class="container-fluid">
        <section class="form-wrapper">
            <!-- Form content -->
            <form id="userForm" action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="button" id="submitButton" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </section>
    </section>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('userForm');
    var inputs = form.querySelectorAll('input[type=text], input[type=password], input[type=email], select');
    var submitButton = document.getElementById('submitButton');

    // Initially disable all fields except the first
    for (var i = 1; i < inputs.length; i++) {
        inputs[i].disabled = true;
    }

    // Function to enable the next input field
    function enableNextInput(currentInput) {
        var nextInput = currentInput.nextElementSibling;
        while(nextInput) {
            if (nextInput.tagName === "INPUT" || nextInput.tagName === "SELECT") {
                nextInput.disabled = false;
                nextInput.focus();
                break;
            }
            nextInput = nextInput.nextElementSibling;
        }
    }

    // Add change event listener to each input
    inputs.forEach(function(input, index) {
        input.addEventListener('change', function() {
            if (input.value.trim() !== '') {
                if (index < inputs.length - 1) {
                    enableNextInput(input);
                } else {
                    submitButton.disabled = false;
                }
            } else {
                submitButton.disabled = true;
            }
        });
    });
});
</script>
{% endblock %}
