
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}

 {% block navheader %}
 	{% include 'includes/navheader_employee_app.html' %}
 {% endblock %}
 {% block stylesheet %}


{% endblock %}
        <!--CONTENTS-->
 }
 {% block content %}
        <section class="content">

            <section class="container-fluid">
                	<!-- TABLE -->
                	<div class="table-shadow">
                		<div class="text-center table-description">
                			<h4 class="title-h3">Application Users</h4>
                		</div>
                		<table class="table">
							  <thead>
							    <tr>
							      <th scope="col">Username</th>
							      <th scope="col">Employee (fullname) </th>
							      <th scope="col">Department</th>
							    </tr>
							  </thead>

							  <tbody>
							  	{% for emp in employees %}
							  	<tr>
								      <td>{{emp.user.username}}</td>
								      <td>{{ emp.get_full_name }}</td>
								      <td>{{ emp.department }}</td>

							  </tr>
							   {% endfor %}
							  </tbody>
						</table>
					</div>
                	<!-- /TABLE -->

            </section> <!-- /container --> 


        </section>
 {% endblock %}
