{% extends '_layout.html' %}

<!--{% block title %} {{ title }} {% endblock %}-->

{% block stylesheet %}
.sec-box{
height:160px;
max-width:100%;
line-height:160px;
text-align:center;
position:relative;
font-size:1.9rem;
font-variant: petite-caps;

}

.sec-box a{           /*fonts color in the both blocks*/
color:#fff;

}

.employee-box{
background: #5a4747;
}

.leave-box{
background: #5a4747;
}


{% endblock %}


<!--CONTENTS-->
{% block content %}
<section class="content">
    <section class="container-fluid">
        <section class="row">
            {% if request.user.is_superuser and request.user.is_staff %}
            <section class="col col-lg-4">
                <div class="employee-box sec-box">
                    <a href="">
                        <span style="font-size: 24px;">Registered Employees:  {{ employees.count }}</span>
                    </a>
                </div>
            </section>
            <section class="col col-lg-4">
                <div class="leave-box sec-box">
                    <a href="">
                        <span style="font-size: 24px;">Leaves Requested: {{ leaves.count }}</span>
                    </a>
                    <!-- <span class="count-object" style="color:#41b6d6;"></span>  -->
                </div>
            </section>

            {% else %}
            <section class="col col-lg-6">
                <div class="leave-box sec-box">
                    <a href="">
                        <span> Remaining Paid Leaves: {{ remLeavePaid }}</span>
                    </a>
                </div>
                <div class="leave-box sec-box">
                    <a href="">
                        <span> Remaining Unpaid Leaves: {{ remLeaveUnpaid }}</span>
                    </a>
                </div>
            </section>


            {% endif %}


        </section>


    </section>

</section>


{% endblock %}
