{% extends '_layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% load static %} <!-- Load static template tags here -->

{% block navheader %}
    {% include 'includes/navheader_employee_app.html' %}
{% endblock %}

{% block stylesheet %}

        body {
            background-image: url("{% static 'peepcogs.jpg' %}");
            background-size: cover;
            background-position: center;
            backdrop-filter: blur(2px);
        }

        .sec-box {
            height: 80px;
            max-width: 100%;
            line-height: 80px;
            text-align: center;
            position: relative;
            font-size: 1.9rem;
            font-variant: petite-caps;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            transition: all 400ms ease-in;
            background-color: rgba(255, 255, 255, 0.5); /* Add a semi-transparent background color */
        }

        .sec-box a {
            color: #fff;
            text-decoration: none;
        }

        .employee-box {
            background: #808080;
        }

        .margin-bottom {
            margin-bottom: 1.4rem;
        }

{% endblock %}

<!-- CONTENTS -->
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-8 offset-sm-2">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                            {{ message }}
                            <button type="button" class="close" id="override-start" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="employee-box sec-box">
                    <a href="/accounts/users/all">
                        <span>Employees</span>
                    </a>
                    <span class="count-object"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">To add Employees:</h4>
                <p>1. First, Register a user account for the employee in the Users section.</p>
                <p>2. Then proceed to the Employee section.</p>
                <hr>
                <p class="mb-0">Ensure that you link the correct user account while creating an employee account!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
