
{% extends '_layout.html' %}
{% block title %} {{ title }} {% endblock %}

 {% block navheader %}
 	{% include 'includes/navheader_employee_app.html' %}
 {% endblock %}

 {% block content %}
        <section class="content">
            <section class="container-fluid">
            	   <section class="row">
                        <section class="col col-sm-8 offset-sm-2">

                            {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}

                        </section>
                    </section>

                	<!-- TABLE -->
                	<div class="table-responsive table-shadow">
                		<div class="text-center table-description">
                			<h4 class="title-h3" style="text-shadow: 1px 0px rgba(0,0,0,0.11)">Pending Leaves</h4>
                		</div>
                	
                		<table class="table">
							  <thead>
							    <tr>
							      <!-- <th scope="col">#</th> -->
							      <th scope="col"><b>User</b></th>
							      <th scope="col"><b>Type</b></th>
							      <th scope="col"><b>Day(s)</b></th>
							      <th scope="col"><b>Status</b></th>
							      <th scope="col"><b>Actions</b></th>
							    </tr>
							  </thead>
							  <tbody>
							  	{% for leave in leave_list %}
							    <tr>

							      <td>{{ leave.user }}</td>
							      <td>{{ leave.leavetype}}</td>
							      <td>{{ leave.leave_days }}</td>
							      <td><span class="badge badge-success" style="background-color:rgb(189, 138, 0); font-size: 14px;">{{ leave.status }}</span></td>

							      <td> 
							      	<a href="{% url 'dashboard:userleaveview' leave.id %}" style="color: #795548;">
							      	    <span>View</span>
							      	</a>
							      	
							      </td>
							    </tr>

							    {% endfor %}

							  </tbody>

						</table>
			
					</div>
                	<!-- /TABLE -->

            </section> <!-- /container --> 


        </section>
 {% endblock %}
